.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo{
    width: 90px;
    padding-left: 20px;
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
    padding: 0px 20px;
    font-size: large;
    font-weight: bold;
    font-family: arial, "Helvetica Neue", sans-serif;
    
}

.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: center;
}

.res-card{
    width: 300px;
    height: 400px;
    border: 1px solid rgb(87, 81, 81);
    padding: 8px;
    border-radius: 5px;
    margin: 15px 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.res-card:hover{
    box-shadow: 5px;
    border: 1px solid black;
    cursor: pointer;
    transform: scale(1.025);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.search{
    padding: 10px;
}

.res-img{
    width: 100%;
    height: 50%; 
    object-fit: cover;
    border-radius: 5px;
}

.res-card h3 {
    margin: 6px 0;
    font-size: 150%;
}

.res-card h4 {
    margin: 4px 0;
    font-size: 110%;
    font-weight: normal;
}

.filter-btn{
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.shimmer-card{
    width: 300px;
    height: 400px;
    background-color: #f0f0f0;
    padding: 8px;
    border-radius: 5px;
    margin: 10px;
}

.shimmer-btn{
    background-color: #f0f0f0;
    margin: 10px;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    width: 12%;
}

.shimmer-filter{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.signin{
    padding: 0 20px;
    cursor: pointer;
    border-radius: 10px;
    font-size: medium;
    font-weight: bold;
    font-family: arial, "Helvetica Neue", sans-serif;
}

.filter{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.search-box{
    padding: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.search-btn{
    padding: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}