.header{
    display: flex;
    justify-content: space-between;
    border: 3px solid rgb(250, 141, 40);
    border-radius: 20px;
    background-color: rgb(247, 188, 132);
    margin: 15px 25px;
}

body{
    background-color: rgb(250, 209, 201);
}
.logo-container{
    display: flex;
    align-items: center;
}
.logo{
    width: 90px;
    padding-left: 20px;
    border-radius: 50%;
}
.logo-container h1{
    font-family: fantasy;
    color: rgb(253, 85, 18);
    font-weight: 100;
    padding-left: 10px;
    font-size: 35px;
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
    padding: 0px 20px;
    font-size: large;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #444;    
}

.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
}

.nav-items > ul > li > Link{
    text-decoration:line-through;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: center;
}

.res-card{
    width: 300px;
    height: 400px;
    border: 1px solid rgb(87, 81, 81);
    padding: 8px;
    border-radius: 20px;
    margin: 15px 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.res-card:hover{
    box-shadow: 5px;
    border: 1px solid black;
    cursor: pointer;
    transform: scale(1.025);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.search{
    padding: 10px;
}

.res-img{
    width: 100%;
    height: 50%; 
    object-fit: cover;
    border-radius: 20px;
}

.res-card h3 {
    margin: 6px 0;
    font-size: 150%;
}

.res-card h4 {
    margin: 4px 0;
    font-size: 110%;
    font-weight: normal;
}

.filter-btn{
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: rgb(240, 239, 239);
    font-size: 15px;
    background-color: rgb(253, 85, 18);
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.shimmer-card{
    width: 300px;
    height: 400px;
    background-color: #f0f0f0;
    padding: 8px;
    border-radius: 5px;
    margin: 10px;
}

.shimmer-btn{
    background-color: #f0f0f0;
    margin: 10px;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    width: 12%;
}

.shimmer-filter{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.signin{
    padding: 0 20px;
    cursor: pointer;
    border-radius: 15px;
    font-size: medium;
    background-color: rgb(250, 220, 191);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #444; 
}

.filter{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.search-box{
    padding: 10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(243, 180, 122);
}
.search-btn{
    padding: 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: rgb(240, 239, 239);
    font-size: 15px;
    background-color: rgb(253, 85, 18);
}

.menu{
    margin: 20px 50px;
    padding: 2px 20px;
}
.restaurantInfo{
    padding: 20px 30px;
    border-radius: 15px;
    box-shadow: 0 8px 12px rgba(22, 22, 22, 0.2);
    background-color: rgb(252, 201, 155);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
.infoLine{
    margin: 3px 0px;
}
.menuTxt{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.category{
    font-family: 'Poppins', sans-serif;
    border: 2px solid black;
    border-radius: 15px;
    padding: 15px;
}
.menuItems{
    font-family: 'Poppins', sans-serif;
    margin: 30px 0px;
    margin-right: 40px;
}
.itemsInfo{
    margin: 30px 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    border-radius: 15px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    background-color: rgb(252, 201, 155);
}
.infoItem{
    margin: 7px 0px;
}
.dishName{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: #242323;
    font-size: larger;
    margin: 8px 0px;
}
.itemDes{
    font-weight: 500;
    color: #242323;
}
.itemImg{
    border-radius: 15px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    margin-left: 30px;
}