.header{
    display: flex;
    justify-content: space-between;
    border: 3px solid rgb(250, 141, 40);
    border-radius: 20px;
    background-color: rgb(247, 188, 132);
    margin: 15px 25px;
}

body{
    background-color: rgb(250, 220, 191);
}
.logo-container{
    display: flex;
    align-items: center;
}
.logo{
    width: 90px;
    padding-left: 20px;
    border-radius: 50%;
}
.logo-container h1{
    font-family: fantasy;
    color: rgb(253, 85, 18);
    font-weight: 100;
    padding-left: 5px;
    font-size: 35px;
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
    padding: 0px 20px;
    font-size: large;
    font-weight: bold;
    font-family: arial, "Helvetica Neue", sans-serif;
    
}

.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: center;
}

.res-card{
    width: 300px;
    height: 400px;
    border: 1px solid rgb(87, 81, 81);
    padding: 8px;
    border-radius: 20px;
    margin: 15px 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.res-card:hover{
    box-shadow: 5px;
    border: 1px solid black;
    cursor: pointer;
    transform: scale(1.025);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.search{
    padding: 10px;
}

.res-img{
    width: 100%;
    height: 50%; 
    object-fit: cover;
    border-radius: 20px;
}

.res-card h3 {
    margin: 6px 0;
    font-size: 150%;
}

.res-card h4 {
    margin: 4px 0;
    font-size: 110%;
    font-weight: normal;
}

.filter-btn{
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    font-family: monospace;
    font-weight: bold;
    color: white;
    font-size: 15px;
    background-color: rgb(253, 85, 18);
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.shimmer-card{
    width: 300px;
    height: 400px;
    background-color: #f0f0f0;
    padding: 8px;
    border-radius: 5px;
    margin: 10px;
}

.shimmer-btn{
    background-color: #f0f0f0;
    margin: 10px;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    width: 12%;
}

.shimmer-filter{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.signin{
    padding: 0 20px;
    cursor: pointer;
    border-radius: 15px;
    font-size: medium;
    font-weight: bold;
    font-family: arial, "Helvetica Neue", sans-serif;
    background-color: rgb(250, 220, 191);
}

.filter{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.search-box{
    padding: 10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    font-size: 15px;
    font-family: monospace;
    background-color: rgb(243, 180, 122);
}
.search-btn{
    padding: 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-family: monospace;
    font-weight: bold;
    color: white;
    font-size: 15px;
    background-color: rgb(253, 85, 18);
}